body {
  margin: 0;
  /* font-family: 'Open Sans, sans-serif'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
  border-radius: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid #0d6efd;
  color: #0d6efd;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}
.nav-texts{
  color: #ec7c20;
}

.text-bold {
  font-weight: bold;
}
.about-landing-main{
  box-shadow: #ddd 0px 0px 13px 5px;
  padding-right: 12px;
}
.about-captions{
  float: right;
  width: 90%;
  margin-right: 0px;
  margin-top: 30px;
}
.about-heading{
  height: 70px;
  width: 50%;
  background-color: #ec7c20;
}
.about-paragraph{
  margin-top: 40px;
}
.about-paragraph p{
  font-size: 20px;
  font-weight: 100;
}
.about-btn-main{
  margin-top: 40px;
  margin-right: 12px;
  padding-bottom: 40px;
}
  .about-btn{
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 16px;
    height: 50px;
    width: 120px;
    border: none;
    margin-top: 10px;
    transition: .3s ease-out;
    cursor: pointer;
    z-index: -1;
}
.about-btn:hover{
  background-color: #ec7c20;
  color: white; 

}
.about-right-main{
  background-color: #f7fcf9;
  height: 450px;
}
.about-img-container{
  text-align: center;
}
.about-img-png{
  margin-top: 70px;
  height: 400px;
  width: 450px;
}
/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}

.full-box header,
.full-box footer {
  display: none;
}

.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}

.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}

.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

button.thumbnail {
  padding: 0;
}
#hero-background{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
#contact-nav{
  margin-right: 70px;
}
.mt-20{
  margin-top: 20px;;
}
#basic-nav-dropdown{
  color: white;
}
#admin-nav-dropdown{
  color:white;
}
#main-container{
  max-width: 1300px;
}
#search-bar{
  width: 500px;
}
#featured-products{
  margin-top: 100px;
}
#main-products{
  position: relative;
  top: 800px;
}
product-details-tab {
  margin-bottom: 5rem
}

.product-details-tab .nav.nav-pills .nav-link {
  color: #333333;
  font-size: 1.6rem;
  padding: .55rem 3rem;
  border-bottom-width: .2rem;
  text-transform: capitalize
}

.product-details-tab .nav.nav-pills .nav-link:hover,
.product-details-tab .nav.nav-pills .nav-link:focus {
  color: #0d6efd;
  border-bottom-color: #0d6efd
}

.product-details-tab .nav.nav-pills .nav-item+.nav-item {
  margin-left: 2rem
}

.product-details-tab .tab-content {
  border: .1rem solid #dadada;
  margin-top: -.1rem;
  border-radius: .3rem
}

.product-details-tab .tab-content .tab-pane {
  padding: 2.7rem 3rem
}
.tab-content {
  border: none
}
.tab-content .tab-pane {
  padding: 0
}
.tab-content .tab-pane {
  padding: 2rem 0 0
}
.tab-content-border {
  border: .1rem solid #d7d7d7;
  border-radius: .3rem;
  border-top-left-radius: 0;
  border-top-width: 0
}

.justify-content-center+.tab-content-border {
  border-top-left-radius: .3rem
}

.tab-pane {
  padding: 1.4rem 2.2rem
}

.tab-pane p:last-child {
  margin-bottom: 0
}

.nav.nav-pills .nav-link {
  color: #777;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -.01em;
  padding: .45rem 1rem;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-bottom: .1rem solid transparent;
  background-color: transparent;
  transition: all .35s ease
}

.nav.nav-pills .nav-link:hover,
.nav.nav-pills .nav-link:focus {
  color: #ec7c20
}

.nav.nav-pills .nav-link:focus {
  outline: none !important
}

.nav.nav-pills .nav-item+.nav-item {
  margin-left: 1rem
}

.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
  color: #ec7c20;
  border-color: #3f8cff;
  border-bottom-color: #0d6efd
}

.nav-pills+.tab-content .tab-pane {
  padding: 1.4rem 0
}

.nav-pills+.tab-content .tab-pane p:last-child {
  margin-bottom: 0
}

.tabs-vertical {
  display: flex;
  align-items: flex-start;
  align-items: stretch
}

.tabs-vertical .tab-content-border {
  border-top-width: .1rem;
  border-left-width: 0;
  border-bottom-left-radius: 0
}
.nav-pills+.tab-content .tab-pane {
  padding: 1.4rem 0
}

.nav-pills+.tab-content .tab-pane p:last-child {
  margin-bottom: 0
}

.tabs-vertical {
  display: flex;
  align-items: flex-start;
  align-items: stretch
}

.tabs-vertical .tab-content-border {
  border-top-width: .1rem;
  border-left-width: 0;
  border-bottom-left-radius: 0
}

.tabs-vertical .nav {
  flex-shrink: 0
}

.tabs-vertical .nav .nav-link {
  min-width: 100px
}

.tabs-vertical .nav.nav-tabs {
  border-bottom-width: 0;
  border-right-width: .1rem
}

.tabs-vertical .nav.nav-tabs .nav-link {
  border-top-left-radius: .3rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: .3rem
}

.tabs-vertical .nav.nav-tabs .nav-item {
  margin-bottom: 0;
  margin-right: -1px
}

.tabs-vertical .nav.nav-tabs .nav-item+.nav-item {
  margin-left: 0;
  margin-top: 1px
}

.tabs-vertical .nav.nav-tabs .nav-item.show .nav-link,
.tabs-vertical .nav.nav-tabs .nav-item .nav-link.active {
  border-color: #0d6efd;
  border-right-color: transparent
}

.tabs-vertical .nav.nav-tabs.nav-tabs-bg .nav-link:not(.active) {
  border-color: #ebebeb #d7d7d7 #ebebeb #ebebeb;
  background-color: #fafafa
}

.tab-content.tab-content-carousel>.tab-pane {
  display: block;
  visibility: hidden;
  height: 0 !important
}

.tab-content.tab-content-carousel>.tab-pane:not(.active) {
  overflow: hidden !important
}

.tab-content.tab-content-carousel>.active {
  height: auto !important;
  visibility: visible
}

.nav.nav-border-anim .nav-link {
  position: relative;
  border-bottom: none
}

.nav.nav-border-anim .nav-link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .1rem;
  background-color: #ec7c20;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform .3s ease
}

.form-tab .nav.nav-border-anim .nav-link:before {
  height: .2rem
}

.nav.nav-border-anim .nav-link.active:before {
  transform-origin: left center;
  transform: scale(1, 1)
}

.nav.nav-border-anim.nav-pills-mobile .nav-link:before {
  height: .2rem
}
.product-details-tab .tab-content {
  border: .1rem solid #dadada;
  margin-top: -.1rem;
  border-radius: .3rem
}

.product-details-tab .tab-content .tab-pane {
  padding: 2.7rem 3rem
}

.tab-content {
  border: none
}

.product-details-extended .tab-content .tab-pane {
  padding: 0
}
#category-item{
  height: 260px;
  margin-bottom: 6vh;
}
#category-inner{
  height: 230px
}
.phones-and-tab{
  background-size: cover;
}
#category-inner img{
  transition: .3s;
}
#category-inner img:hover{
  transform: translateY(-15px);
}
#order-button{
  border-radius: 0;
}
#search-row li{
  list-style-type: none;
}
#signin-button{
  border-radius: 0;
}
#button-search{
  background-color: #051922;
  width: 40px;
  color: white;
  border: none;
}
#button-search :hover{
}
#mail-logo{
  color:#ec7c20;
}
.theme-color{
  color: #ec7c20;
}
.nav-link{
  cursor: pointer;
  color: white;
}
.nav-link:hover{
  color: #ec7c20;
}
.carousel-background{
 
}
#carousel-caption{
  margin-bottom: 300px;
  /* opacity: 1; */
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-name: fadeInAnimation;
}
.carousel-animation{
  
}
#carousel-caption h1{
  font-weight: 600;
}
#carousel-caption p{
  margin-bottom: 0;
  color: #ec7c20;
  font-weight: 800;
  letter-spacing: 6px;
}

#carousel-caption::after{
  transition: fadeInAnimation ease 1s;
}
.carousel-item{
  transition: transform 1s ease-in-out;
}
.carousel-btn-main{
  height: 60px;
  width: 200px;
}
.carousel-btn{
  border-radius: 50px;
  background-color: #ec7c20;
  color: white;
  font-size: 16px;
  height: 50px;
  width: 120px;
  border: none;
  margin-top: 10px;
  transition: .1s ease-out;
  cursor: pointer;
  z-index: -1;
}
.carousel-btn:hover{
  background-color: #051922;
  color: #ec7c20;

}
#cate-gory{
  height: 300px;
  background: tan
}
.bold-text{
  font-weight: 500;
}
#main-banner{
  background-image: url(./assets/hero-6.png);
  background-size: contain;
  background-attachment: fixed;
}
#about-row{
  font-size: 14px;
}
#container-marketing-section{
  margin-top: 50px;
}
.team-circle{
  height: 300px;
  width: 300px;
  border: 10px solid black;
  border-radius: 50%;
}
.team-main{
  margin-top: 50px;;
}